# environment
.env
.venv/

# python
__pycache__/
*.pyc
*.egg-info/

# private implementation
mrsanpool_platform/
tests/
integrations/
alembic/
scripts/
security/

# infra
docker-compose.yml
dev_up.sh

# static build / backup
static/backup/
static/static/

# misc
Makefile
pyproject.toml
requirements-dev.txt
